<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gestión personas</title>
    <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css" th:href="@{/css/bootstrap.css}">
</head>

<body>
    <div class="container">
        <form action="#" th:action="@{/save}" th:object="${persona}" method="POST">
            <div class="form-group">
                <input type="hidden" id="id" th:field="*{id}">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}" name="nombre">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" th:field="*{apellido}" name="apellido">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" id="direccion" th:field="*{direccion}" name="direccion">
                <label for="telefono">Teléfono</label>
                <input type="text" class="form-control" id="telefono" th:field="*{telefono}" name="telefono">
            </div>
            <button type="submit" class="btn">Guardar</button>
        </form>
    </div>
</body>

</html>